<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery.jqplot.js"></script>
<script type="text/javascript" src="/static/plugins/jqplot.canvasTextRenderer.js"></script>
<script type="text/javascript" src="/static/plugins/jqplot.canvasAxisLabelRenderer.js"></script>
<link rel="stylesheet" type="text/css" href="../src/jquery.jqplot.css" />

<script type="text/javascript">
$(document).ready(function(){
	 
	  var stocks = []  
	  
	  {% for i in zs %}
	  	var z1 = [];
		 {% for idx, j in enumerate(i) %}
			z1.push([{{idx}},{{j}}]);
			{% endfor %}
				stocks.push(z1);
			
		{% endfor %}
	  
	 
	  var plot3 = $.jqplot('chart3', stocks, 
	    { 
	      title:'Line Style Options', 
	      // Set default options on all series, turn on smoothing.
	      seriesDefaults: {
	          rendererOptions: {
	              smooth: true
	          }
	      },
	      // Series options are specified as an array of objects, one object
	      // for each series.
	      series:[ 
	          {
	            // Change our line width and use a diamond shaped marker.
	            lineWidth:2, 
	            markerOptions: { style:'diamond' }
	          }, 
	          {
	            // Don't show a line, just show markers.
	            // Make the markers 7 pixels with an 'x' style
	            showLine:false, 
	            markerOptions: { size: 7, style:"x" }
	          },
	          { 
	            // Use (open) circlular markers.
	            markerOptions: { style:"circle" }
	          }, 
	          {
	            // Use a thicker, 5 pixel line and 10 pixel
	            // filled square markers.
	            lineWidth:5, 
	            markerOptions: { style:"filledSquare", size:10 }
	          }
	      ]
	    }
	  );
	    
	});
</script>
</head>
<body>
<!-- {% for i in db_list %} 
	{% for j in i %} 
		{{j}},
	{% endfor %}
	<br>
{% endfor %} -->
<div id="chart3"></div>
</body>
</html>